body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f7f9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NAVBAR */

.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid black;
  padding-left: 50px;
  background-color: white;
  border: 0;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 3rem;
}

.navbar a {
  margin: 0.5rem 0;
  padding: 1rem 1rem;
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  font-size: 18px;
  margin-left: 150px;
  gap: 30px;
}

ul a:hover {
  background-color: #f6f7f9;
  transition: background-color 0.5s;
  border-radius: 10px;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  color: black;
}

.logo span#blue {
  color: #0057b7;
}

.logo span#yellow {
  color: #ffd700;
}

/* SHOPS */

.Shops nav {
  padding: 10px 20px;
  flex: 0 0 265px;
  margin: 0 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
  width: 265px;
}

.Shops nav a {
  color: black;
  font-size: 18px;
  margin: 0;
  padding: 10px 10px;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.5s;
}

.Shops nav a:hover {
  background-color: #f6f7f9;
}

/* SHOP */

.Shop {
  padding: 0 15px;
}

.shop {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* PRODUCTS */

.Shop .product h1 {
  font-size: 24px;
  margin: 0;
  padding-top: 0;
}

.Shop .product {
  box-sizing: border-box;
  padding: 25px;
  border-radius: 10px;
  width: 300px;
  height: 250px;
  background-color: white;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Shop .product button {
  box-sizing: border-box;
  font-size: 16px;
  padding: 10px;
  border: 0;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  transition: box-shadow 0.5s, transform 0.5s;
}

.Shops .product button:hover {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transform: scale(1.1);
}

/* SHOPPING CART */

.Cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 15px;
}

.Cart .container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  display: flex;
  gap: 50px;
}

/* FORM */

.Cart .container form label {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.Cart .container form {
  display: flex;
  box-sizing: border-box;
  width: 400px;
  height: 400px;
  justify-content: center;
  padding: 0 50px;

  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  background-color: white;
  flex-direction: column;
}

.Cart .container form input[type='text'],
.Cart .container form input[type='email'] {
  background-color: #f7f7f7;
  font-size: 18px;
  border: 0px;
  padding: 10px;

  border-radius: 10px;
}
/* CART */

.Cart .container .cart {
  box-sizing: border-box;
  width: 400px;
  height: 400px;
  padding: 25px 50px;
  background-color: white;
  min-width: 285px;

  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  overflow-y: auto;
}

.Cart .cart-item {
  border-bottom: 1px #ccc solid;
}

.Cart .cart-item button {
  font-size: 16px;
  color: red;
  background-color: transparent;
  border: 0;
  padding: 10px;
  transition: box-shadow 0.5s, transform 0.5s;
}

.Cart .cart-item button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.Cart .cart-item input[type='number'] {
  width: 40px;
}

.Cart input[type='submit'] {
  background-color: #92b780;
  border: 0;
  border-radius: 10px;
  width: 140px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  padding: 10px;
  transition: box-shadow 0.5s, transform 0.5s;
}

.Cart input[type='submit']:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

.Cart .total-section {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 40px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  width: 200px;
  align-self: center;

  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ccc;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

.cart-item .cart-item-title {
  font-weight: bold;
}
